<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_after_data_object">
        <observer name="mp_display_text" instance="Akhilesh\Customernotify\Observer\Customeredit" />
    </event>
     <event name="customer_address_save_after">
        <observer name="customer_address_save_after" instance="Akhilesh\Customernotify\Observer\Customeredit" />
    </event>
</config>