<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="akhilesh" translate="label" class="techflarestudio_checkout_configuration" sortOrder="10">
            <label>AKT Section</label>
        </tab>
        <section id="customeremailadminchange" showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="10" translate="label">
            <label>Get Email Customer Account Any Change By Admin</label>
            <tab>akhilesh</tab>
            <resource>Akhilesh_Customernotify::sendddminemailcustomerregistration</resource>
            <group id="customeremail" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Notify Customer For Admin Any Change in Customer section</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>